<content>
  <description>
    <h1>GRUMBLR</h1>
    <h2>Where All Your Minor and Major Inconveniences Can Be Shared</h2>
    <h3>i'm sure nothing will go wrong with this site</h3>
    <%= button_to 'New Post', new_post_path %>
  </description>


  <br/>

  <posts>
    <h2>Here's What's Grumblin:</h2>
    <%= render "shared/post_rendering" %>
  </posts>
</content>
